/*add 1118第三方登录弹窗*/
.mask{z-index: 1000;position: absolute;top: 0px;left: 0px;filter:alpha(opacity=50);  -moz-opacity:0.5; opacity: 0.5;filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=50);width: 100%;height: 100%;background-color: #000;  display:none}
.login-quick{ font-family:"微软雅黑"; color:#676767; z-index:1001; border:2px solid #898989; background:#fff; width:550px; height:330px; border-radius:4px;top:350px;left: 50%; position:absolute; }
.login-quick-fl{ float:left; padding: 0 28px 0px 60px;margin-top: 40px;border-right: 1px solid #F2F2F2;}
.login-quick-fr{ float:right; padding-right:40px}
.login-btns a{ display:block; background:#eee; width:180px; height:36px; line-height:36px; border:1px solid #e6e6e6; margin-top:20px;color:#676767; text-decoration:none;padding-left:40px; text-indent:10px}
.login-btns a .ico{ background:url(http://live1.yystatic.com/live/images/combineV2/login/login-ico_7a83af3.png) no-repeat 0 7px; background:url(http://live1.yystatic.com/live/images/combineV2/login/login-ico-png8_b0e0521.png) no-repeat 0 7px; float:left; width:24px; height:29px; display:inline-block;}
.login-btns .login-qq .ico{ background-position:0 -47px}
.login-btns .login-yy .ico{ background-position:0 -87px}
.login-quick-mod:after{ content:""; display:table; clear:both}
.login-quick .link{ text-align:center; margin-top:15px}
.login-quick .link a{ color:#3595CC;}
.login-quick .link a:hover{ text-decoration:underline}
.login-btns a:hover{ background:#fdfcfc}
.register .link{ text-align:left}
.login-quick-top{ position:relative; background:#ddd; margin-bottom:20px; height:98px; overflow:hidden}
.login-quick-close{ position:absolute; width:12px; height:12px; position:absolute; background:url(http://live1.yystatic.com/live/images/combineV2/login/close_btn_df7a6ca.png) no-repeat; right:15px; top:15px; cursor:pointer}
.login-qqbtn span{  background:url(http://live1.yystatic.com/live/images/combineV2/login/login_arrow_504b1ef.png) no-repeat 129px 14px;width:170px; height:35px; line-height:35px; text-align:center; display:block; color:#fff; font-size:14px }
.login-qqbtn{ background: #2DAAF8; display:block; width:170px; height:126px;}
.login-qqbtn:hover{ border:1px solid #A0D8FB; background: #60BEF9; text-decoration:none}
.login-yybtn{ background:url(http://live1.yystatic.com/live/images/combineV2/login/yy-login_3810a9f.png) no-repeat; width:170px; height:91px; display:block;text-decoration:none}
.login-yybtn:hover{ background:url(http://live1.yystatic.com/live/images/combineV2/login/yy-login-hover_4a61200.png) no-repeat}
/*add 1118第三方登录弹窗*/
