<?xml version="1.0" encoding="utf-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>
            com.yy.ent.cherrice.async.AsyncActionDispatcher
        </servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>WEB-INF/conf/cherrice.xml</param-value>
		</init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>globalServelt</servlet-name>
        <servlet-class>com.yy.ent.tvbar.servlet.GlobalServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>http://idol.yy.com/tag/util</taglib-uri>
            <taglib-location>/WEB-INF/conf/cherrice.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
