@charset "utf-8";
/* CSS Document */

$font-ST:"\5B8B\4F53";	//宋体
$font-yahei:"Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
$font-arial:"Arial";

/*CSS reset*/
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote{margin:0;padding:0;}
fieldset,img{border:0;margin: 0;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

a{outline: none;text-decoration: none;}
a:hover{outline: none;text-decoration:none;}

@mixin clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        overflow: hidden;
    }
}
.hidden {
  display: none !important;
  visibility: hidden;
}

html{
	color: #864604;
	font-size: 62.5%;
}
.index-con{
	header{
		position: relative;
		overflow: hidden;
		width: 100%;
		.video-box{
			position: relative;
			width: 100%;
			padding-top: 56.25%;
			background-size: cover;
			background-position: center; 
			.play-btn {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background:rgba(0,0,0,0.4);
				i {
					display: block;
					width: 54px;
					height: 54px;
					background: url(../images/play-btn.png) no-repeat;
					background-size: 54px 54px;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -27px;
					margin-top: -27px;
				}
			}
		}
		.share-btn{
			background: url(../images/share-btn.png) no-repeat;
			background-size: 27px 27px;
			width: 27px;
			height: 27px;
			position: absolute;
			right: 10px;
			top:5px;
		}
	}
	.dingyue-con{
		background: url(../images/dingyue_bg.jpg) no-repeat;
		background-size: 100% auto;
		width: 100%;
		height: 161px;
		overflow: hidden;
		position: relative;
		.tip1{
			font-size: 1.6rem;
			position: absolute;
			top: 27px;
			left: 24%;
			color: #292929;
			text-align: left;
			font-weight: bold;
			width: 100%;
		}
		.tip2{
			width: 100%;
			font-size: 0.8rem;
			position: absolute;
			top: 47px;
			left: 24%;
			color: #292929;
			text-align: left;
		}
		.tip3{
			width: 100%;
			font-size: 1.2rem;
			position: absolute;
			top: 137px;
			color: #aeba42;
			text-align: center;
		}
		.dingyue-btn{
			display: block;
			width: 140px;
			height: 45px;
			background-color: #a2af39;
			box-shadow: 0 3px 0 #96a136;
			position: absolute;
			left: 50%;
			margin-left: -70px;
			top: 79px;
			border-radius: 2px;
			overflow: hidden;
			.status{
				text-align: center;
				font-size: 1.8rem;
				text-align: center;
				color: #fcffe3;
				margin-top: 8px;
				text-shadow:1px 1px 1px #777f2e;
			}
			.info{
				text-align: center;
				font-size: 1rem;
				text-align: center;
				color: #f9ffc6;
			}
		}
		
		.live-btn{
			display: block;
			width: 45px;
			height: 42px;
			background: url(../images/live.png) no-repeat;
			background-size:100%;
			position: absolute;
			left: 50%;
			margin-left: 83px;
			top: 83px;
		}
	}
	.round-con{
		width: 100%;
		height: 126px;
		background-color: #6f6f6f;
		position: relative;
		
		.rule-view{
			position:absolute;
			z-index:3;
			top:-32px;
			right:0px;
			width: 34px;
			height: 66px;
			background: url("../images/rule-bg.png") repeat right top;
			background-size: 100%;
			
			.rule-btn{
				float: right;
				width: 22px;
				height: 40px;
				margin-top: 13px;
			}
				
			.rule-content{
				position: absolute;
				z-index:2;
				margin-left:-275px;
				width:270px;
				background: url("../images/bg4.png") repeat;
				box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
				
				a.rule-colse{
					float:right;
					margin-bottom:-13px;
					padding:8px;
					width: 13px;
					height: 13px;
					background: url("../images/close-bg.png") #707070 no-repeat center center ;
					background-size: 70%;
				}
				
				dl{
					margin: 15px;
					
					dt{
						margin:8px 0;
						color: #869606;
						font-size: 1.3rem;
					}
					
					dd{
						color: #2a2a2a;
						font-size: 1.2rem;
					}
				}
			}
			
			#rule_content{
				display: block;
			}
		}
		
		.votecount{
			position: absolute;
			color:#aba8a8;
			font-size: 1.2rem;
			top: 10px;
			text-align: center;
			width: 100%;
			
			span{
				color: #fa6300;
			}
		}
		
		.progress-bar{
			width: 215px;
			height: 5px;
			background-color: #fff;
			position: absolute;
			left: 50%;
			margin-left: -115px;
			top: 46px;
			i{
				display: inline-block;
				height: 5px;
				background-color: #fba120;
				position: absolute;
				top: 0;
			}
		}
		.round-list{
			position: absolute;
			top: 34px;
			left: 50%;
			margin-left: -168px;
			li{
				float:left;
				text-align: center;
				width: 105px;
				.title{
					font-size: 0.9rem;
					color: #fa6300;
				}
				.title{
					font-size: 1.1rem;
					color: #ededed;
					line-height: 1.6rem;
					margin-top: 5px;
				}
				.info{
					font-size: 1rem;
					color: #949494;
					line-height: 1.2rem;
				}
				i{
					display: inline-block;
					width:28px;
					height: 26px;
					background: url(../images/line-btn.png) no-repeat;
					background-size: 28px 26px;
					overflow: hidden;
				}
				&.on{
					i{
						background: url(../images/line-btn-on.png) no-repeat;
						background-size: 28px 26px;
					}
				}
				&:last-child{
					i{
						background: url(../images/line-btn2.png) no-repeat;
						background-size: 28px 26px;
					}
					&.on{
						i{
							background: url(../images/line-btn2-on.png) no-repeat;
							background-size: 28px 26px;
						}
					}
				}
			}
		}
	}
	.fensi-con{
		width: 100%;
		height: 147px;
		background-color: #fafafa;
		position: relative;
		border-bottom: 8px #eeeeee solid;
		.title{
			font-size: 1.6rem;
			height: 30px;
			line-height: 36px;
			color: #595959;
			overflow: hidden;
			background-color: #dadada;
			text-indent: 12px;
			span{
				font-size: 1.1rem;
				color:#a7a7a7;
				text-indent: 12px;
			}
		}
		ul{
			li{
				width: 33%;
				overflow: hidden;
				float: left;
				a{
					display: block;
					color:#595959;
					font-size:1.2rem;
					line-height:2.2em;
					border-radius: 50%;
					margin-top:10px;
					text-align: center;
					
					img{
						display:block;
						margin:0px auto;
						border-radius: 50%;
						width: 70px;
						height: 70px;
					}
				}
			}
		}
		.bottom{
			position: fixed;
			z-index:5;
			bottom: 0;
			height: 52px;
			width: 100%;
			background:rgba(0,0,0,0.4);
			a{
				width: 180px;
				height: 30px;
				background-color: #fb7734;
				display: block;
				border-radius: 2px;
				box-shadow: 0 3px 0px #9d4315;
				margin:13px auto;
				font-size: 1.9rem;
				line-height: 30px;
				color: #fcffe3;
				text-align: center;
				text-shadow:1px 1px 1px #9e4e21;
			}
			em{
				display: block;
				width: 19px;
				height: 19px;
				background-color: #ffae00;
				border-radius: 50%;
				color: #fff;
				font-size: 1.2rem;
				position: absolute;
				left: 50%;
				margin-left: 80px;
				top: 5px;
				text-align: center;
				line-height: 19px;
				font-style: normal;
			}
			i{
				position: absolute;
				right: 13px;
				top: 15px;
				display: block;
				width: 28px;
				height: 28px;
				background: url(../images/icon-1.png) no-repeat;
				background-size: 28px 28px;

				&.action{
				  background: url(../images/icon-2.png) no-repeat;
				  background-size: 28px 28px;
				}
			}
		}
	}
	.info-con{
		padding: 12px;
		padding-top: 0px;
		background-color: #fafafa;
		border-top: 1px #cfcfcf solid;
		p{
			padding-top: 20px;
			font-size: 1.2rem;
			color: #595959;
		}
		.title{
			padding-top: 16px;
			font-size: 1.8rem;
			font-weight: bold;
		}
		img{
		  	max-width:100%;
			padding-top: 14px;
		}
	}
	.video-con{
		background-color: #fafafa;
		.title{
			font-size: 1.6rem;
			height: 30px;
			line-height: 36px;
			color: #595959;
			overflow: hidden;
			background-color: #dadada;
			text-indent: 12px;
			span{
				font-size: 1.1rem;
				color:#a7a7a7;
				text-indent: 12px;
			}
		}

		ul{
			li{
				width: 87.5%;
				margin: 17px auto;
				p{
					font-size: 1.2rem;
					color: #a7a7a7;
					float: left;
					line-height: 30px;
				}
				.video-box{
					position: relative;
					width: 100%;
					padding-top: 56.25%;
					background-size: cover;
					background-position: center; 
					.play-btn {
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						background:rgba(0,0,0,0.4);
						i {
							display: block;
							width: 54px;
							height: 54px;
							background: url(../images/play-btn.png) no-repeat;
							background-size: 54px 54px;
							position: absolute;
							left: 50%;
							top: 50%;
							margin-left: -27px;
							margin-top: -27px;
						}
					}
				}
			}
		}
		.more-btn{
			text-align: center;
			display: inline-block;
			margin-top: 26px;
			p{
				font-size: 1.2rem;
				color: #595959;
				text-align: center;
			}
			i{
				margin-top: 4px;
				display: inline-block;
				width: 14px;
				height: 7px;
				background: url(../images/arrow.jpg) no-repeat;
				background-size: 14px 7px;
			}
		}
		@include clearfix;
	}
	.weibo-con{

	}
}