@charset "UTF-8";
/* CSS Document */
/*CSS reset*/
html {
  color: #fff; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

a {
  outline: none;
  text-decoration: none; }

a:hover {
  outline: none;
  text-decoration: none; }

.clearfix, .conbox, .cart-main .uesr-info, .order-bottom, .cf {
  zoom: 1; }
  .clearfix:after, .conbox:after, .cart-main .uesr-info:after, .order-bottom:after, .cf:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

body {
  font-size: 12px;
  font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
  color: #666;
  background: #fff; }

/*批量输入5~30之间5的倍数的 margin-top 值*/
.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

@keyframes line-part-1 {
  0% {
    opacity: 1;
    background-position: left -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: left -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -50px -100px; }

  100% {
    opacity: 1;
    background-position: -50px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-ms-keyframes line-part-1 {
  0% {
    opacity: 1;
    background-position: left -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: left -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -50px -100px; }

  100% {
    opacity: 1;
    background-position: -50px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-moz-keyframes line-part-1 {
  0% {
    opacity: 1;
    background-position: left -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: left -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -50px -100px; }

  100% {
    opacity: 1;
    background-position: -50px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-webkit-keyframes line-part-1 {
  0% {
    opacity: 1;
    background-position: left -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: left -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -50px -100px; }

  100% {
    opacity: 1;
    background-position: -50px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-o-keyframes line-part-1 {
  0% {
    opacity: 1;
    background-position: left -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: left -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -50px -100px; }

  100% {
    opacity: 1;
    background-position: -50px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@keyframes line-part-3 {
  0% {
    opacity: 1;
    background-position: -100px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: -100px -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -200px -100px; }

  100% {
    opacity: 1;
    background-position: -200px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-ms-keyframes line-part-3 {
  0% {
    opacity: 1;
    background-position: -100px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: -100px -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -200px -100px; }

  100% {
    opacity: 1;
    background-position: -200px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-moz-keyframes line-part-3 {
  0% {
    opacity: 1;
    background-position: -100px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: -100px -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -200px -100px; }

  100% {
    opacity: 1;
    background-position: -200px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-webkit-keyframes line-part-3 {
  0% {
    opacity: 1;
    background-position: -100px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: -100px -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -200px -100px; }

  100% {
    opacity: 1;
    background-position: -200px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-o-keyframes line-part-3 {
  0% {
    opacity: 1;
    background-position: -100px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    background-position: -100px -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  50.1% {
    opacity: 0;
    background-position: -200px -100px; }

  100% {
    opacity: 1;
    background-position: -200px -100px;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@keyframes line-part-3-add {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-ms-keyframes line-part-3-add {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-moz-keyframes line-part-3-add {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-webkit-keyframes line-part-3-add {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

@-o-keyframes line-part-3-add {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ }

  50% {
    opacity: 0;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -moz-transform: scale(2, 2);
    /* Firefox */
    -webkit-transform: scale(2, 2);
    /* Safari and Chrome */
    -o-transform: scale(2, 2);
    /* Opera */ }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -o-transform: scale(1, 1);
    /* Opera */ } }

.conbox {
  width: 895px;
  margin: 0px auto; }

*:focus {
  outline: none; }

i {
  font-style: normal; }

em {
  font-style: normal; }

html, body {
  background-color: #f5f5f5; }

.conbox {
  width: 980px;
  position: relative; }

.back-btn {
  display: block;
  width: 980px;
  margin: 14px auto 0;
  text-align: left;
  color: #999;
  font: 12px/24px "\5B8B\4F53"; }
  .back-btn:hover {
    color: #ff8600;
    text-decoration: underline; }

.cart-main .cart-order .tb-void tbody tr td .quantity-form {
  position: relative;
  overflow: hidden;
  height: 32px;
  width: 118px; }

.cart-main .cart-order .tb-void tbody tr td .itxt {
  position: absolute;
  left: 30px;
  top: 0;
  border: 1px solid #999;
  border-left: none;
  border-right: none;
  width: 58px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #333;
  -webkit-appearance: none; }

.cart-main .cart-order .tb-void tbody tr td .increment, .cart-main .cart-order .tb-void tbody tr td .decrement {
  float: right;
  border: 1px solid #999;
  color: #333;
  line-height: 28px;
  height: 28px;
  width: 28px;
  text-align: center;
  margin: 0;
  background: #fff; }
  .cart-main .cart-order .tb-void tbody tr td .increment.disabled, .cart-main .cart-order .tb-void tbody tr td .decrement.disabled {
    cursor: default;
    color: #999; }

.cart-main .cart-order .tb-void tbody tr td .decrement {
  float: left; }

.cart-main {
  width: 980px;
  margin: 0 auto;
  background-color: #fff; }
  .cart-main .uesr-info {
    margin-top: 42px; }
    .cart-main .uesr-info .my-img {
      width: 120px;
      height: 120px;
      float: left; }
      .cart-main .uesr-info .my-img img {
        width: 120px;
        height: 120px; }
    .cart-main .uesr-info .my-info {
      float: left;
      margin-left: 20px; }
      .cart-main .uesr-info .my-info .name {
        font: 30px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
        color: #333; }
      .cart-main .uesr-info .my-info .address-btn {
        margin-top: 12px;
        display: inline-block;
        width: 160px;
        height: 40px;
        border: 1px #999 solid;
        border-radius: 2px;
        color: #333;
        text-align: center;
        font: 16px/40px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1"; }
        .cart-main .uesr-info .my-info .address-btn:hover {
          background-color: #ff8600;
          color: #fff; }
        .cart-main .uesr-info .my-info .address-btn:active {
          background-color: #999;
          color: #fff; }
  .cart-main .cart-order {
    width: 980px;
    margin-top: 40px; }
    .cart-main .cart-order .order-title {
      color: #999;
      font: 14px/36px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1"; }
    .cart-main .cart-order .tb-void {
      border-collapse: collapse;
      border-spacing: separate;
      font: 14px/40px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1"; }
      .cart-main .cart-order .tb-void .num-tip {
        font: 12px/32px "\5B8B\4F53";
        color: #999; }
      .cart-main .cart-order .tb-void tr th {
        padding: 0;
        font-weight: 400;
        background-color: #ff8600;
        text-align: left;
        color: #fff; }
        .cart-main .cart-order .tb-void tr th.name {
          text-indent: 20px; }
        .cart-main .cart-order .tb-void tr th.center {
          text-align: center; }
      .cart-main .cart-order .tb-void tbody {
        color: #333; }
        .cart-main .cart-order .tb-void tbody tr {
          background-color: #fff; }
          .cart-main .cart-order .tb-void tbody tr td {
            position: relative;
            padding-bottom: 22px;
            padding-top: 20px;
            vertical-align: top;
            font: 14px/16px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1"; }
            .cart-main .cart-order .tb-void tbody tr td .info {
              float: left;
              height: 98px;
              width: 200px; }
            .cart-main .cart-order .tb-void tbody tr td.center {
              color: #ff0000;
              text-align: center; }
            .cart-main .cart-order .tb-void tbody tr td.money {
              color: #ff0000; }
            .cart-main .cart-order .tb-void tbody tr td .address-box {
              display: none;
              font: 14px/24px "\5B8B\4F53";
              background-color: #fff7ee;
              color: #333;
              position: absolute;
              width: 280px;
              padding: 10px;
              left: -240px;
              top: 44px; }
            .cart-main .cart-order .tb-void tbody tr td a {
              position: relative;
              color: #333;
              font: 14px/16px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1"; }
              .cart-main .cart-order .tb-void tbody tr td a:hover .address-box {
                display: block;
                font: 14px/24px "\5B8B\4F53";
                background-color: #fff7ee;
                color: #333;
                position: absolute;
                width: 280px;
                padding: 10px;
                left: -240px;
                top: 24px; }
        .cart-main .cart-order .tb-void tbody .tr-th {
          color: #fff;
          overflow: hidden;
          vertical-align: middle;
          height: 40px;
          line-height: 40px;
          background-color: #c3c3c3; }
          .cart-main .cart-order .tb-void tbody .tr-th td {
            vertical-align: middle;
            padding: 0;
            text-align: left;
            border: 1px solid #f2f2f2; }
          .cart-main .cart-order .tb-void tbody .tr-th p {
            display: inline-block;
            margin-right: 10px;
            overflow: hidden;
            vertical-align: middle;
            height: 24px;
            line-height: 23px;
            float: left; }
          .cart-main .cart-order .tb-void tbody .tr-th .tcol1 {
            text-indent: 20px; }
          .cart-main .cart-order .tb-void tbody .tr-th .tcol2, .cart-main .cart-order .tb-void tbody .tr-th .tcol3 {
            margin-right: 48px; }
          .cart-main .cart-order .tb-void tbody .tr-th .tcol4 span {
            text-align: center;
            display: inline-block;
            width: 50px;
            height: 20px;
            font: 12px/20px "\5B8B\4F53";
            background-color: #ff8600; }
          .cart-main .cart-order .tb-void tbody .tr-th .tcol4.ftx-02 {
            border: 1px #ff8600 solid;
            background-color: #fff;
            color: #fff; }
      .cart-main .cart-order .tb-void .video-item {
        margin-left: 20px;
        margin-right: 10px;
        position: relative;
        display: inline-block;
        width: 140px;
        height: 98px;
        float: left; }
        .cart-main .cart-order .tb-void .video-item img {
          width: 140px;
          height: 98px; }
        .cart-main .cart-order .tb-void .video-item .play-icon {
          background: url("http://res.tvbar.yystatic.com/agency/images/advance/order-play.png") no-repeat;
          width: 41px;
          height: 41px;
          position: absolute;
          left: 50px;
          top: 29px; }

.cart-address {
  width: 980px;
  margin: 0 auto;
  font: 14px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
  background-color: #fff; }
  .cart-address .save-btn, .cart-address .canle-btn {
    margin-left: 108px;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 1px #ff8600 solid;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    color: #ff8600;
    background-color: #fbfbfb; }
    .cart-address .save-btn:hover, .cart-address .canle-btn:hover {
      background-color: #ff8600;
      color: #fff; }
    .cart-address .save-btn:active, .cart-address .canle-btn:active {
      background-color: #999;
      color: #fff; }
  .cart-address .canle-btn {
    margin-left: 20px;
    border: 1px #999 solid;
    color: #333; }
  .cart-address .title {
    width: 980px;
    height: 40px;
    background-color: #ff8600;
    text-indent: 20px;
    color: #fff;
    line-height: 40px; }
  .cart-address .close-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(http://res.tvbar.yystatic.com/agency/images/advance/close-popup.png) no-repeat; }
  .cart-address .address-list {
    padding: 0 20px;
    background-color: #fff; }
  .cart-address .add-btn {
    margin-left: 100px;
    margin-top: 20px;
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #fbfbfb;
    border-radius: 2px;
    border: 1px #999 solid;
    line-height: 40px;
    text-align: center;
    color: #333; }
    .cart-address .add-btn:hover {
      background-color: #ff8600;
      color: #fff; }
    .cart-address .add-btn:active {
      background-color: #999;
      color: #fff; }
  .cart-address .tb-void {
    border-collapse: collapse;
    border-spacing: separate;
    font: 14px "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
    color: #333;
    text-align: left; }
    .cart-address .tb-void thead {
      overflow: hidden;
      vertical-align: middle;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      border-bottom: 1px #c3c3c3 solid; }
      .cart-address .tb-void thead th:first-child {
        text-indent: 20px; }
    .cart-address .tb-void tbody {
      border-bottom: 1px #c3c3c3 solid;
      margin: 0 20px;
      background-color: #fff; }
      .cart-address .tb-void tbody td {
        height: 58px; }
        .cart-address .tb-void tbody td:first-child {
          cursor: pointer;
          text-indent: 22px;
          background: url(http://res.tvbar.yystatic.com/agency/images/advance/no-choose.png) left center no-repeat; }
          .cart-address .tb-void tbody td:first-child.on {
            background: url(http://res.tvbar.yystatic.com/agency/images/advance/choose.png) left center no-repeat; }
      .cart-address .tb-void tbody a {
        display: inline-block;
        width: 120px;
        height: 40px;
        background-color: #fbfbfb;
        border-radius: 2px;
        border: 1px #999 solid;
        line-height: 40px;
        text-align: center;
        color: #333; }
        .cart-address .tb-void tbody a:last-child {
          float: right; }
        .cart-address .tb-void tbody a:first-child {
          float: left; }
        .cart-address .tb-void tbody a:hover {
          background-color: #ff8600;
          color: #fff; }
        .cart-address .tb-void tbody a:active {
          background-color: #999;
          color: #fff; }
  .cart-address .info {
    padding-bottom: 40px;
    margin: 19px 0 33px 20px; }
    .cart-address .info li {
      position: relative;
      margin: 0 0 16px 0;
      color: #333; }
      .cart-address .info li .type {
        width: 70px;
        display: inline-block; }
      .cart-address .info li .error-tip {
        display: none;
        color: #ff0000;
        font: 12px "\5B8B\4F53";
        padding-left: 10px; }
      .cart-address .info li .label {
        position: relative;
        vertical-align: top;
        line-height: 40px; }
      .cart-address .info li .province, .cart-address .info li .city, .cart-address .info li .county {
        background: url(http://res.tvbar.yystatic.com/agency/images/advance/arrow.png) right center no-repeat;
        margin-left: 8px;
        display: inline-block;
        height: 38px;
        width: 140px;
        border: 1px #999 solid;
        text-indent: 8px;
        font-size: 12px;
        font-weight: normal;
        font-family: "\5B8B\4F53";
        color: #999; }
      .cart-address .info li input[type="text"] {
        font-size: 12px;
        font-weight: normal;
        font-family: "\5B8B\4F53";
        color: #999;
        border: 1px solid #999;
        margin-left: 12px;
        padding: 12px 7px;
        width: 200px; }
      .cart-address .info li input::-webkit-input-placeholder {
        font-weight: normal;
        font-family: "\5B8B\4F53";
        color: #999; }
      .cart-address .info li input::-moz-placeholder {
        font-weight: normal;
        font-family: "\5B8B\4F53";
        color: #999; }
      .cart-address .info li select {
        width: 140px;
        height: 40px;
        z-index: 4;
        position: absolute;
        top: 10px;
        left: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer;
        font-size: 40px; }
        .cart-address .info li select.s_province {
          left: 90px; }
        .cart-address .info li select.s_city {
          left: 244px; }
        .cart-address .info li select.s_county {
          left: 398px; }

.order-bottom {
  width: 940px;
  margin: 0 auto;
  border-top: 1px #d9d9d9 solid;
  text-align: right;
  padding-bottom: 56px; }
  .order-bottom .order-tip {
    text-align: right;
    line-height: 30px; }
  .order-bottom .becareful {
    float: right;
    background-color: #ffedd9;
    color: #333;
    font: 14px/24px "\5B8B\4F53";
    text-align: right;
    width: 256px; }
  .order-bottom .pay-box {
    margin-top: 16px;
    color: #333; }
    .order-bottom .pay-box span {
      color: #ff0000;
      font-weight: bold; }
    .order-bottom .pay-box .ok-btn {
      margin-left: 20px;
      display: inline-block;
      width: 120px;
      height: 40px;
      border: 1px #999 solid;
      border-radius: 4px;
      text-align: center;
      line-height: 40px;
      color: #333;
      background-color: #fbfbfb; }
      .order-bottom .pay-box .ok-btn:hover {
        background-color: #ff8600;
        color: #fff; }
      .order-bottom .pay-box .ok-btn:active {
        background-color: #999;
        color: #fff; }

.popup-box {
  padding-bottom: 20px; }

.choose-box {
  padding-bottom: 20px; }
  .choose-box ul {
    margin-left: 20px; }
    .choose-box ul li {
      line-height: 80px; }
      .choose-box ul li .save-btn {
        margin-left: 20px; }
      .choose-box ul li .input-box {
        font-size: 12px;
        font-weight: normal;
        font-family: "\5B8B\4F53";
        color: #999;
        border: 1px solid #999;
        margin-left: 12px;
        padding: 12px 7px;
        width: 180px; }
      .choose-box ul li .type {
        display: inline-block;
        width: 70px; }
      .choose-box ul li .input {
        display: inline-block;
        width: 160px;
        color: #ff0000; }
      .choose-box ul li a {
        display: inline-block;
        width: 120px;
        height: 40px;
        background-color: #fbfbfb;
        border-radius: 4px;
        border: 1px #999 solid;
        line-height: 40px;
        text-align: center;
        color: #333; }
