header {
  width: 100%;
  min-width: 895px;
  background: url(http://res.tvbar.yystatic.com/images/zc2/top-bg.png) repeat-x; }
  header #head {
    position: relative;
    z-index: 2;
    height: 60px;
    width: 980px; }
    header #head .baoming-btn {
      float: right;
      margin-top: 24px;
      margin-right: 60px;
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      height: 22px; }
    header #head .login-status {
      float: right;
      margin-top: 20px;
      padding: 4px 0 0 26px;
      height: 22px;
      background: url(http://res.tvbar.yystatic.com/images/zc2/icon.png) no-repeat left top;
      color: #fff;
      font-size: 14px;
      line-height: 16px; }
      header #head .login-status a {
        color: #fff; }
        header #head .login-status a:hover {
          text-decoration: underline; }
    header #head .logo {
      position: relative;
      float: left;
      width: 170px;
      height: 60px;
      background: url(http://res.tvbar.yystatic.com/images/zc2/logo.png) no-repeat left top;
      margin-right: 10px; }
    header #head .agency {
      line-height: 60px;
      color: #b6b6b6;
      font-size: 14px;
      margin-left: 40px;
      float: left; }

footer {
  margin-top: 40px;
  background: #3b3b3b; }
  footer #footbox {
    height: 192px; }
    footer #footbox #foottext {
      text-align: center;
      color: #999999;
      line-height: 24px;
      padding: 47px 0 0 0;
      word-spacing: 0px; }
      footer #footbox #foottext a {
        color: #999999;
        line-height: 18px; }
