@charset "utf-8";
/* CSS Document */

/*CSS reset*/
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

a{outline: none;text-decoration: none;}
a:hover{outline: none;text-decoration:underline;}

.clearfix,.cf{zoom:1;}
.clearfix:after,.cf:after{content:"";display:block;height:0;clear:both;visibility:hidden;}

body{font-size:12px; padding: 30px; font-size:14px; background:#eee; font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1","\5B8B\4F53";}
#doc{ min-width: 1000px;;}
.conbox{ width:1000px; margin: 0px auto;}

a.a-add{ display:block; font-size:30px; line-height:37px; color:#555;}
a.a-add:hover{ background:#eee;color:#000; text-decoration:none;}

.content { margin:50px 0 0 30px;}
.content table { background:#888; width:100%;}
.content table th,
.content table td{ background:#fff; padding:5px; text-align:center;}

.content table th{ font-size:16px; font-weight:bold;}

.content table td.nopadding{ padding:0px;}
.content table td.textleft { text-align:left;}

#tl-txt { width:80px;}
#tl-simg-url,
#tl-bimg-url{ width:300px}

.pageview { word-spacing:5px;}
.pageview span{ color:#bbb;}
.pageview strong{ color:#f00}

.ul-form { padding-bottom:10px;}
.ul-form li{ margin-top:10px;}
